@{
    ViewBag.Title = "Home Page";
}
<br />

<input type="button" value="Click my button" id="button01" class="btn btn-danger" />

<div id="welcome-messages"></div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/MySignalR.js"></script>
}